.env
node_modules/
#PORT=8000
#MONGOOSE_CONNECT='mongodb+srv://alifaridi:79OS1vOiKp3uJS7D@cluster0.nx0xi.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'
#SECRET='hdcksNDSL5@fsr345ccQWDyzrrthrsthsr'
#CLOUD_NAME=drdmsatm9
#CLOUD_API_KEY=243848753823526
#CLOUD_API_SECRET=6uazp1X6X8T7uqp7XaI1BT05_ME